@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, a
{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif
}

.workitem-container
{
	max-width:220px;
	border:medium solid #69F;
	padding:0.5em;
	float:left;
	margin:0.5em;
}

.workitem-title
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.workitem-table
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	width:auto;
	margin-left:1em
}

.navigation
{
	background:#09C;
	height:35px;
	margin:none;
	font-color:white;
	padding-left:10px;
	padding-top:10px;
}

.navigation ul
{
	margin:0;
	padding:0;
	list-style:none;
}

.navigation li
{
	display:inline;
	margin:0;
	padding:0;
}

.navigation a
{
	color:#FFF;
	margin-left:0.5em;
	text-decoration:none
}

p
{
	margin:0.3em;
}
